.home {
    --bd-silver: #C0C0C0;
    --bd-gray: #808080;
    --bd-accent: #E8E8E8;
    --bd-gray-rgb: 128,128,128;
    --bd-accent-rgb: 232,232,232;
    --bd-light-rgb: 200,200,200;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
            radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.3), transparent 50%),
            radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.3), transparent 50%),
            radial-gradient(ellipse at center right, rgba(var(--bd-gray-rgb), 0.3), transparent 50%),
            radial-gradient(ellipse at center left, rgba(var(--bd-light-rgb), 0.3), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-gray);
        --bs-btn-border-color: var(--bd-gray);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #696969;
        --bs-btn-hover-border-color: #696969;
        --bs-btn-focus-shadow-rgb: var(--bd-gray-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #595959;
        --bs-btn-active-border-color: #595959;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-gray-rgb: 128,128,128;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-gray-rgb), 1), rgba(var(--bd-gray-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-silver {
    color: #C0C0C0;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
